@charset "UTF-8";
/*
	PALETA DE COLORES
*/
/*
	FONT 
*/
@font-face {
  font-family: 'Quicksand' !important;
  src: url("../font/Quicksand/Quicksand-Bold.ttf"), url("../font/Quicksand/Quicksand-Light.ttf"), url("../font/Quicksand/Quicksand-Medium.ttf"), url("../font/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: akzidenzgroteskbq;
  font-weight: 700;
  src: url("../fonts/akzidenzgroteskbq-bdcnd.otf") format("opentype");
}

@font-face {
  font-family: akzidenzgroteskbq;
  font-weight: 500;
  src: url("../fonts/akzidenzgroteskbq-cnd.otf") format("opentype");
}

/*
	ESTILOS GENERALES Colores y background
*/
.green-color {
  color: #19766C !important;
}

.bg-green-color {
  background-color: #19766C !important;
}

.gray-color {
  color: #5D5D5D !important;
}

.white-color {
  color: #FFF !important;
}

.bg-white-color {
  background-color: #FFF !important;
}

.green2-color {
  color: #86BB6E !important;
}

.bg-green2-color {
  background-color: #86BB6E !important;
}

.bg-cajas {
  background-color: #C7D684 !important;
}

.color-btn {
  color: #80b47c !important;
}

.bg-btn {
  background-color: #80b47c !important;
}

.bg-gray-light {
  background-color: #EFEFEF !important;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.akz {
  font-family: 'akzidenzgroteskbq', sans-serif;
}

.font-bold {
  font-weight: 700;
}

.font-custom {
  font-weight: 500;
}

/* configuracion de boton */
.btn {
  border-radius: 50px !important;
  letter-spacing: 1px !important;
  font-size: 1.375rem !important;
  padding: .25rem 1.5rem;
}

.btn:hover {
  color: #FFF !important;
  background-color: #19766C !important;
}

/* Style Social Media Buttons*/
.fa {
  padding: 5px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 0 0;
  border: 1px solid #19766C;
  border-radius: 50%;
}

.fa:hover {
  color: #FFF !important;
  border: 1px solid #86BB6E !important;
  background-color: #86BB6E;
}

/* Agregue un efecto de desplazamiento si se desea */
.fa:hover {
  color: #C7D684;
  border-color: #C7D684;
}

footer .fa:hover {
  text-decoration: none;
}

/*
	SECCION NAVBAR
*/
/* barra top green */
.barra-green {
  background-color: #19766C !important;
  color: #FFF;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1rem !important;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* sombra al navbar */
.sticky-top {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

/* configuraciones internas del navbar */
nav #navbarNav {
  padding-left: 70px !important;
}

nav ul li a {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  padding-bottom: 0 !important;
  border-bottom: 4px dotted #FFF;
}

nav ul li a:hover {
  color: #86BB6E !important;
  border-bottom: 4px dotted #86BB6E;
}

nav .dropdown-menu-confi {
  /* anchura del menu de servicios */
  width: 250px;
}

/*
	SECCION 1
*/
/* 
	configuracion del texto en la seccion 1
 */
.seccion1 .text-confi {
  top: 155px;
  left: 10px;
}

.seccion1 h1 {
  font-size: 6.8rem;
  line-height: 98px;
  margin-left: -14px;
  letter-spacing: 5px;
}

.seccion1 h4 {
  font-size: 1.375rem;
  line-height: 23px;
  letter-spacing: 1px;
  margin: -10px 0 30px -5px;
}

.seccion1-caja {
  /* sombra a la caja */
  -webkit-box-shadow: 1px 1px 15px 1px #afafaf;
  box-shadow: 1px 1px 15px 1px #afafaf;
  margin-top: -70px;
  padding: 30px 0;
  height: 157px;
}

.seccion1 h2 {
  /* configuracion del texto de la caja con sombra */
  font-size: 2.5rem;
}

.seccion1 h2 .titulo, .seccion1 h2 .subtitulo {
  letter-spacing: 2px;
}

.seccion1 h2 .hoja-izq {
  left: 40px;
  top: 20px;
}

.seccion1 h2 .hoja-dere {
  right: 40px;
  top: 20px;
}

/* responsive a 991 de los textos, titulos, subtitulos */
@media screen and (max-width: 991px) {
  .seccion1 .text-confi {
    top: 105px;
  }
  .seccion1 h1 {
    font-size: 5.8rem;
    line-height: 80px;
  }
  .seccion1 h4 {
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .seccion1 h2 {
    font-size: 1.5rem;
  }
  .seccion1 h2 .titulo, .seccion1 h2 .subtitulo {
    letter-spacing: 1px;
  }
  .seccion1 h2 .hoja-izq {
    left: 20px;
    top: 20px;
  }
  .seccion1 h2 .hoja-dere {
    right: 20px;
    top: 20px;
  }
}

/* Responsive a 750 del texto de la seccion 1 */
@media screen and (max-width: 750px) {
  .seccion1 h2 {
    font-size: 1rem;
  }
  .seccion1 h2 .titulo, .seccion1 h2 .subtitulo {
    letter-spacing: 1px;
  }
  .seccion1 h2 .hoja-izq, .seccion1 h2 .hoja-dere {
    display: none;
  }
}

/* SECCION 2*/
/* configuracion de textos, cajas green derecha y izquierda */
.seccion2-hoja-izq {
  /* configuracion para posar la hoja a la izquierda */
  top: 0;
  left: 0;
  z-index: -3;
  margin-left: -15px;
}

.seccion2-hoja-dere {
  /* configuracion para posar la hoja a la derecha*/
  top: 0;
  right: 0;
  z-index: -3;
}

.seccion2 h2 {
  font-size: 1.5rem;
  line-height: 40px;
}

.seccion2 h3 {
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 2px;
}

.seccion2 .borde-dere {
  border-right: 1px solid #19766C;
}

.seccion2 .borde-izq {
  border-left: 1px solid #19766C;
}

.seccion2 .caja-green-izq {
  /* caja verde configuracion */
  height: 500px;
  left: 0;
  z-index: -1;
}

.seccion2 .caja-green-dere {
  /* caja verde configuracion */
  height: 500px;
  right: 0;
  z-index: -1;
}

.seccion2 .borde-boton {
  /* propiedades del borde que decora el boton con la imagen */
  z-index: -1;
  bottom: -65px;
}

.seccion2 .borde-boton-green {
  border: 3px solid #80b47c;
  height: 300px;
}

.seccion2 .borde-boton-green .conoce-mas {
  bottom: -20px;
  left: 0;
  font-size: 1rem;
}

.seccion2 #servicios-adicionales {
  margin-top: 10rem;
}

/* Responsive de las hojas laterales de los servicios
	y disminucion de las cajas
*/
@media screen and (max-width: 1200px) {
  .seccion2-hoja-izq, .seccion2-hoja-dere {
    opacity: 0.2;
  }
  .seccion2 .caja-green-izq, .seccion2 .caja-green-dere {
    height: 300px;
  }
}

/*
Responsive de los textos y ocultamiento de las cajas green
*/
@media screen and (max-width: 750px) {
  .seccion2 h2 {
    font-size: 1rem;
  }
  .seccion2 h3 {
    font-size: 1.2rem;
  }
  .seccion2 .borde-dere {
    border-right: 1px solid #19766C;
  }
  .seccion2 .borde-izq {
    border-left: 1px solid #19766C;
  }
  .seccion2 .caja-green-izq {
    display: none;
  }
  .seccion2 .caja-green-dere {
    display: none;
  }
  .seccion2 .borde-boton-green {
    height: 100px;
  }
}

/* Seccion 3 - 10 años*/
/*
 configuracion de imagen, parrafos, textos y botones
 */
.seccion3 {
  margin-top: 250px;
}

.seccion3 .img-inf {
  bottom: 0;
  right: 50px;
}

.seccion3 .parrafo {
  text-align: left;
  margin: 85px 0 80px 0;
}

.seccion3 .parrafo p {
  font-size: 1rem;
  max-width: 560px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 8px;
}

.seccion3 .parrafo a span {
  font-size: 2rem;
}

.seccion3 .parrafo a:hover {
  text-decoration: none;
}

.seccion3 .parrafo #parrafo-hide {
  opacity: 1;
  display: none;
}

.seccion3 .anos {
  margin: 80px 0;
}

.seccion3 .anos img {
  margin-left: 150px;
}

/*responsive configuracion de la imagen de 10 años 
*/
@media screen and (max-width: 750px) {
  .seccion3 .anos {
    margin: 40px 0;
  }
  .seccion3 .anos img {
    margin-left: 50px;
  }
}

/*responsive configuracion de la imagen de 10 años 
*/
@media screen and (max-width: 600px) {
  .seccion3 .anos {
    margin: 20px 0;
  }
  .seccion3 .anos img {
    margin-left: 25px;
  }
}

/* seccion 4 - galeria */
/* configuracion haciendo que la seccion solo llega a un max de 1366px
	para que no se pierda la configuracion de las imagenes en esta seccion
 */
.galeria-container {
  max-width: 1366px;
  margin: auto !important;
  margin-top: -10px !important;
}

/* Seccion 5 - videos*/
/* configuracion de videos*/
.seccion5 .galeria-container {
  margin-top: 40px !important;
}

/* Seccion 6 - noticias*/
/* coniguracion de imagenes textos y etiquetas */
.seccion6 {
  margin-top: 100px;
}

.seccion6 .caja-img1 {
  margin-top: 50px;
  height: 330px;
  overflow: hidden;
}

.seccion6 .caja-img1 .img1 {
  margin-top: -20%;
}

.seccion6 .caja-img1 .texto1 {
  top: 100px;
}

.seccion6 .caja-img1 .texto1 .fecha {
  letter-spacing: 1px;
}

.seccion6 .caja-img1 .texto1 .tittle {
  font-size: 1.875rem;
}

.seccion6 .caja-img1 .texto2 .fecha {
  letter-spacing: 1px;
}

.seccion6 .caja-img1 .texto2 .tittle {
  font-size: 1.25rem;
}

.seccion6 .etiquetas {
  /*
			econfiguracion de etiquetas
			ejemplo: servicio, salud, bienestar...
		*/
  font-size: 0.78rem;
  margin-bottom: 8px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
  padding: .25rem 1rem;
  margin-right: 10px;
  background-color: #80b47c;
}

.seccion6 .etiquetas a {
  color: #FFF;
}

.seccion6 .etiquetas a:hover {
  text-decoration: none;
}

.seccion6 .etiquetas:hover {
  background-color: #19766C;
}

.seccion6 a:hover img {
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
}

.seccion6 img {
  -webkit-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
}

/* 
Para que el texto que esta dentro de la noticia 1
ya no se pose encima de la imagen
sino debajo de ella y se aprece mejor
*/
@media screen and (min-width: 768px) {
  .seccion6 .position-md-absolute {
    position: absolute !important;
  }
}

/* configuracion responsive de los textos
	como tamaños, color.
 */
@media screen and (max-width: 767px) {
  .seccion6 .texto1 .fecha {
    color: #5D5D5D !important;
  }
  .seccion6 .texto1 .tittle {
    font-size: 1rem !important;
    color: #5D5D5D !important;
  }
  .seccion6 .texto2 .fecha {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .seccion6 .texto2 .tittle {
    font-size: .8rem;
  }
  .seccion6 .ml-5 {
    margin-left: .8rem !important;
  }
  .seccion6 .mr-5 {
    margin-right: .8rem !important;
  }
}

/* Seccion 7 - aliados*/
/* configuracion de aliados con el 
	after del borde a la izquierda
 */
.seccion7 .brd-l::after {
  content: '';
  height: 80px;
  border-left: 1px solid #5D5D5D !important;
  top: 10px;
  position: absolute;
}

/* 
ocultando el borde a la izquierda en responsive de 991
*/
@media screen and (max-width: 991px) {
  .seccion7 .brd-l::after {
    border-left: 0px !important;
  }
}

/* Seccion 8 - contacto*/
/* configuracion de la seccion de contacto */
.seccion8 {
  /* redondiando los inputs y el textarea */
}

.seccion8 .contacto {
  /* bg de la seccion de contacto */
  background-image: url("../img/contacto.jpg");
  background-size: cover;
}

.seccion8 .caja-contacto {
  /* configuracion de posicionamiento de 
		la caja verde  contacto*/
  opacity: .92 !important;
  padding: 90px 20px;
  margin-top: 70px;
  padding-left: 18%;
}

.seccion8 .caja-contacto-text1 {
  /* configuracion del primer texto de la cajad e contacto */
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: left;
}

.seccion8 .caja-contacto-text2 {
  /* configuracion del segundo texto de la cajad e contacto */
  letter-spacing: 3px;
  font-size: 2rem;
  text-align: left;
}

.seccion8 input, .seccion8 textarea {
  border-radius: 25px !important;
}

/* seccion 9 - footer*/
/* configuracion de los texto en el footer, imagenes, hover, 
bordes y iconos de redes sociales 
*/
footer h5 {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

footer h5 a {
  text-decoration: none;
  color: #FFF;
}

footer h5 a:hover {
  text-decoration: none;
  color: #80b47c !important;
}

footer h4 {
  font-size: 1.25rem;
}

footer .bb1 {
  border-bottom: 1px solid #FFF !important;
  line-height: 36px;
}

footer .hover-redes:hover {
  color: #19766C !important;
  background-color: #80b47c !important;
}

footer .no-hover:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

footer .hover-redes {
  padding: 5px 10px !important;
}

footer .hover-redes:hover {
  background-color: #80b47c;
}

footer .borde-visitanos {
  border: 1px solid #FFF;
}

footer .end {
  /*
		Ultima barra de del footer configuracion
		*/
  background-color: #000;
}

footer .end a {
  text-decoration: none;
}

footer .end a .muva {
  /* modificacion de imagen de MUVA */
  height: 17px;
  width: auto;
}

footer .end a .ico-desarrollo {
  /* modificacion de imagen de ICO-DESARROLLO */
  height: 21px;
  width: auto;
}

/*# sourceMappingURL=styles.css.map */